<div ng-style="{'height':getHeightContainerPrincipal()+40+'px'}" mc-stop-event="touchmove" ng-app="angularMyCarroussel" class="container-carroussel" ng-class="{
		'margin-dot': vm.settings.dot.dot && !vm.settings.texte && vm.settings.slideCount==1 && vm.items.length>1
	}">
	<div mc-stop-event="touchstart touchmove" ng-class="{'carroussel-lockContainerBtn':vm.settings.render.lockContainerBtn}" class="container-btn-left">
		<div ng-if="(vm.settings.swip && !vm.settings.render.lockContainerBtn)||(vm.settings.swip && !vm.settings.settingsDrag.startDrag && vm.settings.render.lockContainerBtn)" ng-click="swip('click Gauche',1)" class="btn-carroussel">
			<svg width="34px" height="34px" viewBox="0 0 20 20" version="1.1" class="svg-btn-carroussel">
				<g>
					<path d="M13.5 14.5L9 10l4.5-4.5L12 4l-6 6 6 6 1.5-1.5z"></path>
				</g>
			</svg>
		</div>
	</div>
	<div class="container-slide" mc-dragstart="startDrag($event,vm.settings.settingsDrag.instance+1)" mc-dragover="dragOver($event)" mc-dragend="stopDrag($event,vm.settings.settingsDrag.instance)" mc-drag="vm.settings.settingsDrag.drag" ng-class="{
			'dragging': vm.settings.settingsDrag.startDrag,
			'CARROU-2' : vm.settings.type=='CARROU-2',
			'CARROU-1' : vm.settings.type=='CARROU-1'		
		}" ng-style="{
			'width':getCarrouSizeContainer()+'px'
		}">
		<div class="container-slick-bar">
			<div class="container-slick-item" ng-style="{
				
					'opacity':vm.index[$index].opacity,
					'width':vm.index[$index].width+'px',
					'transform':'translate3d('+vm.index[$index].transformX+'px,0,'+vm.index[$index].zindex*20+'px) scale('+vm.index[$index].scale+')',
					'transition': 'transform '+vm.settings.transition+'ms',			
					'padding':'0px '+vm.index[$index].padding/2+'px 0px '+vm.index[$index].padding/2+'px',
					'height':vm.index[$index].height+'px'
				}" ng-class="{
					'transform-origin-left' : vm.settings.type=='CARROU-2'
				}" ng-repeat="d in vm.items track by $index" lvl="{{vm.index[$index].index}}">
				<div class="slide-shadow" ng-if="vm.settings.type=='CARROU-2' && vm.settings.slideCount>1 && vm.settings.texte" ng-style="{
						'width':vm.index[$index].index==0? vm.index[$index].width_tmp.widthTexte+'px' : vm.index[$index].width_tmp.width+'px'
					}" ng-class="{
						'slide-shadow-first' : vm.index[$index].index==0,
						'slide-shadow-second' : vm.index[$index].index!=0
					}"> </div>
				<a ng-style="{
						'height':vm.index[$index].heightImg+'px',
						'filter' : 'brightness('+vm.index[$index].brightness+'%)',
						'transition': 'filter '+vm.settings.transition+'ms',
					}" ng-class="{
						'effect-carrou-2' :vm.index[$index].index!=0
					}" class="slide-link" ng-title="{{d.link.title}}" ng-href="{{d.link.href}}"> <img ng-src="{{d.img.src}}" alt="{{d.img.alt}}" class="photo-slick-item">
					<div ng-if="d.title" class="container-slide-title">{{d.title}}</div>
				</a>
				<div ng-if="vm.settings.texte" class="container-slide-text" ng-class="{
						'drag-touch' :vm.index[$index].index==0 && vm.isrunning.drag,
						'touch' : vm.index[$index].index==0 && !vm.isrunning.drag,
						'slide-show-right-effect-text' : vm.index[$index].index==0 && vm.sens==1,
						'slide-show-left-effect-text' : vm.index[$index].index==0 && vm.sens==-1,
						'slide-hide-effect-text' : vm.settings.type=='CARROU-2' && vm.index[$index].index!=0
					}" ng-style="{
						'width': getCarrouTextWidth(),
						'height':getCarrouTextHeight()
					}">
					<div class="slide-text-content" ng-if="d.texte.content" ng-bind-html="(d.texte.content|carroussel_to_trust)"></div>
					<div class="slide-text-metadata"></div>
				</div>
			</div>
		</div>
	</div>
	<div mc-stop-event="touchstart touchmove" ng-class="{'carroussel-lockContainerBtn':vm.settings.render.lockContainerBtn}" class="container-btn-right">
		<div ng-if="(vm.settings.swip && !vm.settings.render.lockContainerBtn)||(vm.settings.swip && !vm.settings.settingsDrag.startDrag && vm.settings.render.lockContainerBtn)" ng-click="swip('click Droite',-1)" class="btn-carroussel">
			<svg viewBox="0 0 20 20" class="svg-btn-carroussel" width="34px" height="34px">
				<g>
					<path d="M6.5 5.5L11 10l-4.5 4.5L8 16l6-6-6-6-1.5 1.5z"></path>
				</g>
			</svg>
		</div>
	</div>
	<div ng-if="vm.settings.dot.dot && !vm.settings.texte && vm.settings.slideCount==1 && vm.items.length>1" class="container-dot"> <span ng-click="selectIndex($index)" ng-repeat="d in vm.items track by $index" ng-class="['dot-{{vm.settings.dot.type}}',{'dot-active': (vm.index[$index].index|carroussel_round)==0} ]">

		</span> </div>
</div>